@import "src/styles/config";

.header {
  width: 100%;
  height: 145px;

  margin-bottom: 35px;

  background-color: $color-white;
}

.header__wrapper {
  @include container;

  display: flex;

  height: 100%;

  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 600;
}

.header__link {
  color: $color-shark;
  text-decoration: none;
}

.header__search {
  position: relative;
  display: flex;

  margin-left: 105px;

  height: 50px;

  align-items: center;
}

.header__searchIcon {
  position: absolute;
  top: 50%;
  right: 15px;

  width: 24px;
  height: 24px;

  transform: translateY(-50%);

  cursor: pointer;

  transition: $transition-leave;

  &:hover {
    transition: $transition-enter;
    opacity: .5;
  }
}

.header__input {
  padding-left: 15px;

  width: 390px;
  height: 100%;

  border-radius: 10px;
  border: 1px solid $color-gray;

  font-size: 14px;
  font-weight: 600;

  &:focus {
    outline: none;
    border-color: $color-dodger-blue;
  }
}

.header__filters {
  display: grid;
  grid-gap: 30px;

  margin-left: 25px;

  grid-template-columns: 1fr 1fr;
}


.header__button {
  width: 90px;
}
