@import "src/styles/config";

.header {
  margin-bottom: 35px;

  width: 100%;
  height: 250px;

  background-color: $color-white;

  @media (min-width: $min-desktop) {
    height: 145px;
  }
}

.header__wrapper {
  @include container;

  display: grid;

  padding-top: 50px;

  max-height: 100%;

  grid-template-columns: 1fr 1fr;
  grid-row-gap: 25px;
  grid-template-areas: 'logo logIn' 'search search' 'filters filters';

  @media (min-width: $min-desktop) {
    display: flex;

    padding-top: 0;

    height: 100%;

    align-items: center;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 600;

  grid-area: logo;
}

.header__link {
  color: $color-shark;
  text-decoration: none;
}

.header__search {
  position: relative;
  display: flex;

  width: 100%;
  height: 50px;

  align-items: center;

  grid-area: search;

  @media (min-width: $min-desktop) {
    width: auto;

    margin-left: 105px;
  }
}

.header__searchIcon {
  position: absolute;
  top: 50%;
  right: 15px;

  width: 24px;
  height: 24px;

  transform: translateY(-50%);

  cursor: pointer;

  transition: $transition-leave;

  &:hover {
    transition: $transition-enter;
    opacity: .5;
  }
}

.header__input {
  padding-left: 15px;

  width: 100%;
  height: 100%;

  border-radius: 10px;
  border: 1px solid $color-gray;

  font-size: 14px;
  font-weight: 600;

  &:focus {
    outline: none;
    border-color: $color-dodger-blue;
  }

  @media (min-width: $min-desktop) {
    width: 390px;
  }
}

.header__filters {
  display: flex;

  grid-area: filters;

  @media (min-width: $min-desktop) {
    margin-left: 25px;
  }
}

.header__checkbox {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.header__button {
  margin-left: auto;

  width: 90px;

  grid-area: logIn;
}
